PORT=4000
SQLITE_DB_PATH=./data/furboapp.db
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"tu-proyecto",...}
ADMIN_EMAILS=tuemail@gmail.com
JWT_SECRET=cambiame-por-un-secreto-largo-y-random
SMTP_HOST=smtp.tuservidor.com
SMTP_PORT=587
SMTP_USER=tuemail@gmail.com
SMTP_PASS=tucontraseña
MAIL_FROM=FurboApp <tuemail@gmail.com>
VAPID_PUBLIC_KEY=BNsjE5MLSldILzIKyd-vPuz8DDRe6C13yHkRrgrJTAomGKWpsdBmmR7hICEYMaUSaNcQabeoCv9pOExsRG8VqcA
VAPID_PRIVATE_KEY=aaahRAkqfZ8MjvvF-RCn4PtiGuU0T_baD0W1LKjLZ18

