PORT=4000
SQLITE_DB_PATH=./data/furboapp.db
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"tu-proyecto",...}
ADMIN_EMAILS=tuemail@gmail.com
JWT_SECRET=cambiame-por-un-secreto-largo-y-random
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=furvoapplication@gmail.com
SMTP_PASS=ytuz dkub lqvn zxrx
MAIL_FROM=FurboApp <furvoapplication@gmail.com>
FRONTEND_URL=https://furvo.duckdns.org
VAPID_PUBLIC_KEY=BNsjE5MLSldILzIKyd-vPuz8DDRe6C13yHkRrgrJTAomGKWpsdBmmR7hICEYMaUSaNcQabeoCv9pOExsRG8VqcA
VAPID_PRIVATE_KEY=aaahRAkqfZ8MjvvF-RCn4PtiGuU0T_baD0W1LKjLZ18

